In [21]:
import folium
import pandas as pd
import geopandas as gpd
import sqlalchemy
from sqlalchemy import create_engine

In [22]:
#creating the postgres engine 
engine = create_engine('postgresql://postgres:postgres@localhost/postgres') 
#reloading sql extension
%reload_ext sql 

%sql  postgresql://postgres:postgres@localhost/postgres 

#credentials for database
import psycopg2
con = psycopg2.connect(database='postgres', user='postgres',
                       password='postgres')

In [23]:
 us_states = ('https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json')
#  states_geography = f"{us_states}/us-states.json"
 states_geography = pd.read_json(us_states)
#  states_geography.iloc[0]
 states_geography.head(10)

states_geography = states_geography.iloc[0]

In [24]:
us_income = ('usincomedata.csv')
income_table = pd.read_csv(us_income)
income_table.head(10)

   Rank             State     2018     2017     2016     2015     2014
0     1  Washington, D.C.  $85,203  $82,372  $75,506  $75,628  $71,648
1     2          Maryland  $83,242  $80,776  $78,945  $75,847  $73,971
2     3        New Jersey  $81,740  $80,088  $76,126  $72,222  $71,919
3     4            Hawaii  $80,212  $77,765  $74,511  $73,486  $69,592
4     5     Massachusetts  $79,835  $77,385  $75,297  $70,628  $69,160
5     6       Connecticut  $76,348  $74,168  $73,433  $71,346  $70,048
6     7        California  $75,277  $71,805  $67,739  $64,500  $61,933
7     8     New Hampshire  $74,991  $73,381  $70,936  $70,303  $66,532
8     9            Alaska  $74,346  $73,181  $76,440  $73,355  $71,583
9    10        Washington  $74,073  $70,979  $67,106  $64,129  $61,366

In [25]:
# https://hub.arcgis.com/datasets/esri::usa-states-generalized/explore?location=27.169517%2C74.778224%2C3.00
usstates = gpd.read_file('usastatesdata.csv', crs="4326")
usstates.head(10)

C:\Users\josh\.conda\envs\geo_env\lib\site-packages\geopandas\geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

,FID,STATE_NAME,STATE_FIPS,SUB_REGION,STATE_ABBR,POPULATION,POP_SQMI,POP2010,POP10_SQMI,WHITE,...,RENTER_OCC,NO_FARMS12,AVE_SIZE12,CROP_ACR12,AVE_SALE12,SQMI,GlobalID,SHAPE_Length,SHAPE_Area,geometry
0,1,Alaska,2,Pacific,AK,744733,1.3,710231,1.2,473576,...,95293,762,1094,84114,77329,581369.17,{CAA768F1-67C4-4E4E-BE1F-585897D5D651},407.5709583,277.524097,None
1,2,California,6,Pacific,CA,39611295,250.5,37253956,235.6,21453934,...,5542127,77857,328,9591783,547510,158144.83,{1B72B84F-AB21-4F2C-ABF1-D6029E20E2B9},42.2601575,41.53361809,None
2,3,Hawaii,15,Pacific,HI,1461211,227.3,1360301,211.6,336599,...,192656,7000,161,174042,94478,6429.38,{63DE8C01-6A03-4F45-8647-FB3B846A9906},11.95278694,1.429288902,None
3,4,Idaho,16,Mountain,ID,1714694,20.5,1567582,18.8,1396487,...,174505,24816,474,5793347,314372,83570.14,{B13B05E7-AC98-4DA2-81D1-B1F302AB8DDA},28.52967285,24.39159532,None
4,5,Nevada,32,Mountain,NV,2994047,27.1,2700551,24.4,1786688,...,414770,4137,1429,756852,184710,110561.37,{C442CA59-4D9C-4EEE-8170-E1D436FF0CB4},23.60873378,29.96992496,None
5,6,Oregon,41,Pacific,OR,4122334,42.5,3831074,39.5,3204614,...,574453,35439,460,4690420,137805,97076.81,{30D7AF58-27ED-46F6-99AD-8A8135041750},24.78724883,28.18778909,None
6,7,Washington,53,Pacific,WA,7311450,108.1,6724540,99.4,5196362,...,946156,37249,396,7526742,244859,67620.68,{03626501-C742-48C1-8047-DB7DC135B862},34.95685737,20.75075782,None
7,8,Arizona,4,Mountain,AZ,7031568,61.7,6392017,56.1,4667121,...,809303,20005,1312,1150811,186559,113997.77,{F95332AD-007B-4F65-9450-401D225E5BC2},23.25726973,28.85908969,None
8,9,Arkansas,5,West South Central,AR,3041640,57.2,2915918,54.8,2245229,...,378928,45071,306,7931111,216897,53178.77,{ACF9651A-AC7A-4FFF-92D2-FCB1D3EBDDFB},20.87717934,13.51746474,None
9,10,Colorado,8,Mountain,CO,5594670,53.7,5029196,48.3,4089202,...,679768,36180,881,10649747,215060,104093.95,{01AB8A9E-566A-41EC-8DC4-8D76DFEA5639},22.02562627,28.0415972,None

In [28]:
m = folium.Map (location = [41.610, -102.261], zoom_start=3)
m

folium.Choropleth(
    geo_data=states_geography,
    data=income_table,
    name="choropleth",
    columns=["State", "2018"],
    key_on="Feature.properties.name",
    fill_color="YlGnBu",
    fill_opacity=0.6,
    line_opacity=0.3,
    legend_name="Median Household Income ($USD)"
).add_to(m)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''