In [1]:
import folium
import pandas as pd
import geopandas as gpd

In [4]:
nz_pop = pd.read_csv('../../GISData/sa2_nz.csv')
nz_pop.dropna(axis = 1, how = 'all')
nz_pop.head(3)

,WKT,SA22018_V1_00,SA22018_V1_00_NAME,LAND_AREA_SQ_KM,AREA_SQ_KM,Shape_Length
0,"MULTIPOLYGON (((1638658.1791 6128997.4425,1638...",101000,Oruru-Parapara,103.280728,103.280728,67331.035434
1,"MULTIPOLYGON (((1648130.456 6128680.4369,16481...",101100,Taumarumaru,10.229723,10.229723,30427.141598
2,"MULTIPOLYGON (((1632137.183 6111883.0603,16321...",101200,Herekino-Takahue,303.690918,303.690918,158854.370552

In [10]:
travel_work = pd.read_csv('../../GISData/2018worktravel.csv')
travel_work.dropna(axis = 0, how = 'all')
# travel_work.drop_duplicates()
travel_work.head(5)

,SA2_code_usual_residence_address,SA2_name_usual_residence_address,SA2_usual_residence_easting,SA2_usual_residence_northing,SA2_code_workplace_address,SA2_name_workplace_address,SA2_workplace_easting,SA2_workplace_northing,Work_at_home,Drive_a_private_car_truck_or_van,Drive_a_company_car_truck_or_van,Passenger_in_a_car_truck_van_or_company_bus,Public_bus,Train,Bicycle,Walk_or_jog,Ferry,Other,Total
0,100100,North Cape,1579396.081,6181775.249,100100,North Cape,1579396.081,6181775.249,144,117,33,9,-999,-999,-999,21,-999,6,330
1,100200,Rangaunu Harbour,1612554.651,6136232.766,100200,Rangaunu Harbour,1612554.651,6136232.766,210,93,24,15,-999,-999,-999,12,-999,-999,354
2,100400,Karikari Peninsula,1634562.574,6127415.055,100400,Karikari Peninsula,1634562.574,6127415.055,102,54,6,6,-999,-999,-999,-999,-999,-999,177
3,100500,Tangonge,1619918.067,6113278.371,100500,Tangonge,1619918.067,6113278.371,123,30,9,-999,-999,-999,-999,-999,-999,-999,168
4,100600,Ahipara,1614655.612,6109255.026,100600,Ahipara,1614655.612,6109255.026,63,18,-999,-999,-999,-999,-999,-999,-999,-999,90

In [ ]:
# table join

In [ ]:
m = folium.Map (location = [41.610, -102.261], zoom_start=3)

folium.Choropleth(
    geo_data=nz_pop,
    data=nz_pop,
    name="choropleth",
    columns=["SA22018_V1_NAME", "Pop_Total_2018"],
    key_on="feature.properties.WKT",
    fill_color="YlGnBu",
    fill_opacity=0.6,
    line_opacity=0.3,
    legend_name="2018 Population"
).add_to(m)