In [1]:
import folium
import pandas as pd
import geopandas as gpd

In [13]:
nz_pop = gpd.read_file('../../GISData/sa2_nz.csv')
nz_pop.dropna(axis = 0, how = 'all')
nz_pop = nz_pop.rename(columns={'SA22018_V1_00':'SA2'})
nz_pop.head(3)

C:\Users\josh\.conda\envs\geo_env\lib\site-packages\geopandas\geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

,WKT,SA2,SA22018_V1_00_NAME,LAND_AREA_SQ_KM,AREA_SQ_KM,Shape_Length,geometry
0,"MULTIPOLYGON (((1638658.1791 6128997.4425,1638...",101000,Oruru-Parapara,103.28072757,103.28072757,67331.0354339,"MULTIPOLYGON (((1638658.179 6128997.442, 16386..."
1,"MULTIPOLYGON (((1648130.456 6128680.4369,16481...",101100,Taumarumaru,10.2297234,10.2297234,30427.141598,"MULTIPOLYGON (((1648130.456 6128680.437, 16481..."
2,"MULTIPOLYGON (((1632137.183 6111883.0603,16321...",101200,Herekino-Takahue,303.69091784,303.69091784,158854.370552,"MULTIPOLYGON (((1632137.183 6111883.060, 16321..."

In [15]:
travel_work = gpd.read_file('../../GISData/2018worktravel.csv')
travel_work.dropna(axis = 0, how = 'all')
travel_work = travel_work.rename(columns={'SA2_code_usual_residence_address':'SA2'})
# travel_work.drop_duplicates()
travel_work.head(5)

C:\Users\josh\.conda\envs\geo_env\lib\site-packages\geopandas\geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

,SA2,SA2_name_usual_residence_address,SA2_usual_residence_easting,SA2_usual_residence_northing,SA2_code_workplace_address,SA2_name_workplace_address,SA2_workplace_easting,SA2_workplace_northing,Work_at_home,Drive_a_private_car_truck_or_van,Drive_a_company_car_truck_or_van,Passenger_in_a_car_truck_van_or_company_bus,Public_bus,Train,Bicycle,Walk_or_jog,Ferry,Other,Total,geometry
0,100100,North Cape,1579396.081,6181775.249,100100,North Cape,1579396.081,6181775.249,144,117,33,9,-999,-999,-999,21,-999,6,330,None
1,100200,Rangaunu Harbour,1612554.651,6136232.766,100200,Rangaunu Harbour,1612554.651,6136232.766,210,93,24,15,-999,-999,-999,12,-999,-999,354,None
2,100400,Karikari Peninsula,1634562.574,6127415.055,100400,Karikari Peninsula,1634562.574,6127415.055,102,54,6,6,-999,-999,-999,-999,-999,-999,177,None
3,100500,Tangonge,1619918.067,6113278.371,100500,Tangonge,1619918.067,6113278.371,123,30,9,-999,-999,-999,-999,-999,-999,-999,168,None
4,100600,Ahipara,1614655.612,6109255.026,100600,Ahipara,1614655.612,6109255.026,63,18,-999,-999,-999,-999,-999,-999,-999,-999,90,None

In [20]:
# table join
merged_table = nz_pop.merge(travel_work, on = 'SA2', how = 'inner')
merged_table.head(5)

,WKT,SA2,SA22018_V1_00_NAME,LAND_AREA_SQ_KM,AREA_SQ_KM,Shape_Length,geometry_x,SA2_name_usual_residence_address,SA2_usual_residence_easting,SA2_usual_residence_northing,...,Drive_a_company_car_truck_or_van,Passenger_in_a_car_truck_van_or_company_bus,Public_bus,Train,Bicycle,Walk_or_jog,Ferry,Other,Total,geometry_y
0,"MULTIPOLYGON (((1638658.1791 6128997.4425,1638...",101000,Oruru-Parapara,103.28072757,103.28072757,67331.0354339,"MULTIPOLYGON (((1638658.179 6128997.442, 16386...",Oruru-Parapara,1642075.248,6123164.914,...,-999,-999,-999,-999,-999,-999,-999,-999,99,None
1,"MULTIPOLYGON (((1638658.1791 6128997.4425,1638...",101000,Oruru-Parapara,103.28072757,103.28072757,67331.0354339,"MULTIPOLYGON (((1638658.179 6128997.442, 16386...",Oruru-Parapara,1642075.248,6123164.914,...,-999,-999,-999,-999,-999,-999,-999,-999,9,None
2,"MULTIPOLYGON (((1638658.1791 6128997.4425,1638...",101000,Oruru-Parapara,103.28072757,103.28072757,67331.0354339,"MULTIPOLYGON (((1638658.179 6128997.442, 16386...",Oruru-Parapara,1642075.248,6123164.914,...,-999,-999,-999,-999,-999,-999,-999,-999,24,None
3,"MULTIPOLYGON (((1638658.1791 6128997.4425,1638...",101000,Oruru-Parapara,103.28072757,103.28072757,67331.0354339,"MULTIPOLYGON (((1638658.179 6128997.442, 16386...",Oruru-Parapara,1642075.248,6123164.914,...,9,-999,-999,-999,-999,-999,-999,-999,60,None
4,"MULTIPOLYGON (((1638658.1791 6128997.4425,1638...",101000,Oruru-Parapara,103.28072757,103.28072757,67331.0354339,"MULTIPOLYGON (((1638658.179 6128997.442, 16386...",Oruru-Parapara,1642075.248,6123164.914,...,-999,-999,-999,-999,-999,-999,-999,-999,27,None

In [ ]:
m = folium.Map (location = [41.610, -102.261], zoom_start=3)

folium.Choropleth(
    geo_data=merged_table,
    data=merged_table,
    name="choropleth",
    columns=["SA2", "Total"],
    key_on="feature.properties.WKT",
    fill_color="YlGnBu",
    fill_opacity=0.6,
    line_opacity=0.3,
    legend_name="2018 Population"
).add_to(m)